<div style="margin-top: .75rem; white-space: nowrap;">
    <small>
        <span class="text-muted">{_"products.data.orders.statuses.label"}:</span>
        <a href="{plink :Products:OrdersAdmin:Show, $order->id}">{$statusMap[$order->status]}</a>
    </small>
</div>
